<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
    <style>
      .pac-container { z-index: 2000 !important; }
    </style>
  </head>
  <body>
    <header>
      <% include ../partials/header %>
    </header>

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=1730590710505089";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <h1>Dashboard</h1>
    <!-- Create a new trip, modal form -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
      <i class="fa fa-plus"></i> New trip
    </button>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">New Trip</h4>
          </div>
          <div class="modal-body">
            <form role="form" action="/trip/new" method="POST" id="tripForm">
              <div class="form-group">
                <label for="name">Name of trip:</label>
                <input type="text" class="form-control" id="name" name="name" required/>
              </div>
              <div class="form-group">
                <label for="start-city">Start city:</label>
                <input type="text" class="form-control" id="start-city" name="start-city" required/>
              </div>
              <div class="form-group">
                <label for="end-city">End city:</label>
                <input type="text" class="form-control" id="end-city" name="end-city" required/>
              </div>
              <button type="submit" class="btn btn-primary">Create trip</button>
            </form>
          </div>
        </div>
      </div>


      <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button"></div>

    </div>


    <% include ../partials/footer %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="javascripts/dashboard.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= browser_key %>&signed_in=true&libraries=places&callback=initAutocomplete"
        async defer></script>
  </body>
</html>
