<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
  </head>
  <body>
    <header>
      <% include ../partials/header %>
    </header>

    <div class="container">
      <div class-"row">
        <div class="col-md-10 col-md-offset-1">
          <div class="intro">
            <p><b>Direct trade literally brooklyn you probably haven't heard of them 8-bit. Actually church-key twee, butcher cornhole hammock messenger bag asymmetrical XOXO. Shoreditch humblebrag 3 wolf moon scenester try-hard pour-over. Vegan listicle master cleanse echo park iPhone direct trade selfies gentrify, disrupt YOLO. Schlitz mlkshk irony, post-ironic next level austin vice flexitarian pabst aesthetic biodiesel pinterest. Kombucha paleo slow-carb mlkshk. Lo-fi cred four dollar toast banjo small batch.</b></p>
          </div>
        </div>
      </div>
      <div class="row">
          <div class="picBox1 col-md-4"> </div>
          <div class="picBox2 col-md-4"> </div>
          <div class="picBox3 col-md-4"> </div>
      </div>
    </div>

    <div class="fb-like"></div>
  </body>
</html>
