<!DOCTYPE html>
<html>
  <head>

  <link rel="stylesheet" type="text/css" href="../stylesheets/signup.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">


    <% include ../partials/head %>
    <link rel="stylesheet" type="text/css" href="../stylesheets/signup.css">
  </head>

    <script>
      function statusChangeCallback(response) {
      console.log('statusChangeCallback');
      console.log(response);

        if (response.status === 'connected') {
           testAPI();
        } else if (response.status === 'not_authorized') {
           document.getElementById('status').innerHTML = 'Please log ' +
            'into this app.';
        } else {
          document.getElementById('status').innerHTML = 'Please log ' +
            'into Facebook.';
        }
      }

      function checkLoginState() {
        FB.getLoginStatus(function(response) {
          statusChangeCallback(response);
        });
      }

        window.fbAsyncInit = function() {
        FB.init({
          appId      : '1730590710505089',
          cookie     : true,
          xfbml      : true,
          version    : 'v2.5'
        });

        FB.getLoginStatus(function(response) {
          statusChangeCallback(response);
        });

        };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));

      function testAPI() {
        console.log('Welcome!  Fetching your information.... ');
        FB.api('/me', function(response) {
          console.log('Successful login for: ' + response.name);
          document.getElementById('status').innerHTML =
            'Thanks for logging in, ' + response.name + '!';
        });
      }

    </script>

  <body class="signup">
    <header>
      <% include ../partials/header %>
    </header>

    <h1>Sign-Up NOW!</h1>
    <h4>& Start Planning Your Next Road Trip!</h4>
    <div class="col-md-offset-1 col-md-4"></div>
    <div class="col-md-3 form">
      <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
      <% } %>
      <form action="/auth/signup" method="POST">
        <fieldset>
          <div class="row">
            <input id="email" name="email" type="email" placeholder="Email" class="form-control input-md">
          </div>
          <div class="row">
            <input id="password" name="password" type="password" placeholder="Password" class="form-control input-md">
          </div>
          <div class="row">
            <input id="confirm-password" name="confirm-password" type="password" placeholder="Confirm Password" class="form-control input-md">
          </div>
          <div class="row">
            <input class="btn btn-success btn-block" type="submit" value="Sign Up">
          </div>
          <div class="fb-login-button" data-max-rows="1" data-size="medium" data-show-faces="false" data-auto-logout-link="false"></div>
        </fieldset>
      </form>



    <% include ../partials/footer %>
=======
    </div>
  </body>
</html>
